{% extends 'blog/base.html' %}

{% block title %}
    {% if view.request.resolver_match.url_name == 'post_edit' %}Edit Post{% else %}Create New Post{% endif %}
{% endblock %}

{% block content %}
    <h1>{% if view.request.resolver_match.url_name == 'post_edit' %}Edit Post{% else %}Create New Post{% endif %}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renders the form fields as paragraphs -->

        <button type="submit">{% if view.request.resolver_match.url_name == 'post_edit' %}Update Post{% else %}Create Post{% endif %}</button>
    </form>

    <p><a href="{% url 'post_list' %}">Back to all posts</a></p>
{% endblock %}
